<%= form_with model: @email do |f| %>
  <p>Name:</p>
  <%= f.text_field :name, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2 mt-4' %><br>
  <p>Subject:</p>
  <%= f.text_field :subject, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2 mt-4' %><br>
  <p>Email Type:</p>
  <%= f.select :email_type, ['Transaction', 'Reminder'],{}, class: 'mb-4 mt-4 w-1/2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
  <div class='hidden' id='reminder_params'>
    <p>Interval Between (in minutes):</p>
    <%= f.number_field :interval_between, min: 1, class: 'mt-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/4 mt-4' %><br>
    <p>Frequency:</p>
    <%= f.number_field :frequency, in: 1..5, min: 1, class: 'mt-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/4 mt-4' %><br>
  </div>

  <p class='mt-4'>Body:</p>
  <p class='mt-2'>User Merge Tags </p>
  <p class='mt-2'><span class='font-bold'>%user_name%</span> - User's Name, <span class='font-bold'>%user_email%</span> - User's Email </p>

  <%= f.hidden_field :body, id: :body, value: @email.body, size: "70x5" %><br>
  <trix-editor input="body" , class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full mt-4' ></trix-editor>

  <%= f.submit 'Create', class: 'mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer' %>
<% end %>

<script>

$('#email_email_type').change(function(){
	if($('#email_email_type').val() == 'Transaction'){
		$('#reminder_params').hide();
	}
	else {
		$('#reminder_params').show();
	}
});

</script>